filebeat.modules:

{% if 'elk' in group_names %}
#-------------------------------- Kibana Module --------------------------------
- module: kibana
  log:
    enabled: true

#------------------------------- Logstash Module -------------------------------
- module: logstash
  # logs
  log:
    enabled: true
  slowlog:
   enabled: true

#---------------------------- Elasticsearch Module ----------------------------
- module: elasticsearch
  # Server log
  server:
    enabled: true
  gc:
    enabled: true
  audit:
    enabled: true
  slowlog:
    enabled: true
  deprecation:
    enabled: true

{% endif %}


{% if 'kafkahosts' in group_names %}
#-------------------------------- Kafka Module --------------------------------
- module: kafka
  # All logs
  log:
    enabled: true

    var.kafka_home: {{ kafka_home_dir }}/

{% endif %}


filebeat.inputs:
  # List of prospectors to fetch data.


{% if 'prometheus' in group_names %}
# enable grab log file prometheus
  - type: log
    enabled: true
    paths:
      - /var/log/syslog
    include_lines: ['prometheus']
    exclude_lines: ['info']
{% endif %}



{% if 'consulhosts' in group_names %}
# enable grab log file consul
  - type: log
    enabled: true
    paths:
      - /var/log/syslog
    include_lines: ['consul']
    exclude_lines: ['INFO','TRACE','kernel','WARN','DEBUG', 'CRON']
{% endif %}


  ### elastic as output
output.elasticsearch:

  hosts: {{ elastic_server }}
  protocol: http
